@charset "utf-8";
/* CSS Document */

body {
	background-color:#CCC;
	margin:0;
}
article, aside, details, figcaption, figure, footer, header,  menu, nav, section { 
    display: block;
}
#bakgrundsbild {
	width:100%;
	height:100%;
	background-image:url(../Bakgrundsbild.jpg);
	position:absolute;
	background-attachment:fixed;
	overflow:auto;
}
#meny {
	background-color:rgba(255,255,255,0.7);
	width:99%;
	margin:0.5%;
	height:auto;
}
header {
	background-color:rgba(0,0,0,1);
	width:100%;
	height:auto;
	text-align:center;
	overflow:hidden;
	display:block;
}
#top {
	background-color:rgba(25,25,112,0.8);
	width:98.25%;
	margin-top:-0.5%;
	margin-left:0%;
	height:50px;
	text-align:center;
	overflow:hidden;
	position:fixed;
	z-index:98;
}
#close {
    background-color:rgba(25,25,112,0.1);
    color:white;
    padding:10px;
    font-size:10px;
    border:none;
    cursor:pointer;
	position:fixed;
	z-index:99;
	margin-left:93.5%;
	margin-top:-0.3%;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	borde-radius:10px;
}
h1 {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:150%;
	margin-top:12.5px;
}
img {
	width:100%;
	height:auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: 5px -6px 3px #000000;
	-webkit-box-shadow: 5px -6px 3px #000000;
	box-shadow: 5px -6px 3px #000000;
}

figure{
	margin:0;
}
nav {
	background-color:rgba(169,169,169,0.4);
	width:100%;
	height:55px;
}
#logo {
	background-color:rgba(0,0,0,0);
	width:176px;
	height:100px;
	float:right;
	margin-right:2%;
	border-style:solid;
	border-width:3px;
	border-color:rgba(0,0,0,0);
}
article {
	background-color:rgba(255,255,255,0.8);
	width:96%;
	/* (3000px - 1050px - 55px)*0.98, vilket är: 98% av (#menyns längd - headers längd - navets längd) */
	height:1257.1px;
	margin:1%;
	padding:1%;
	border-style:solid;
	border-width:2px;
	border-color:rgba(0,0,0,0.8);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px -1px 1px #000000;
	-webkit-box-shadow: 1px -1px 1px #000000;
	box-shadow: 1px -1px 1px #000000;
}
#articleV {
	width:60%;
	height:100%;
	float:left;
	font-size:20px;
	font-family:Verdana, Geneva, sans-serif;
}
#textbox {
	background-color:rgba(230,230,255,1);
	width:auto;
	height:auto;
	padding-left:10%;
	padding-right:10%;
	padding-top:3%;
	padding-bottom:3%;
}
p#intro {
	color:#30C;
	margin-left:0;
	margin-top:0;
	font-style:italic;
	text-align:center;
}
#articleH {
	width:40%;
	height:95%;
	float:left;
}
a:hover {
   	color:#2ecc71;
   	text-decoration:blink;
}
a:visited {
	color:rgba(100,100,255,1);
}
.main {
  	width: 100%;
}
.sub-main {
  	width: 45%;
  	margin:16px;
  	float: left;
}
.faktaruta {
	width:80%;
	height:20%;
	margin:10%;
	font-size:22px;
	font-family:Verdana, Geneva, sans-serif;
}
figcaption {
	background-color:rgba(230,230,255,1);
	border-radius:10px;
	padding:2%;
}
a:hover {
	color:#669;
}
footer {
	background-color:rgba(255,255,255,0.7);
	width:99%;
	height:60px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	z-index:95;
}
h5 {
	background-color:#FF0;
	margin-left:4px;
	color:#969;
	width:150px;
	height:30px;
	margin-top:20px;
	float:left;
}
.knapp1 {
	color:#000;
	font-family:Verdana, Geneva, sans-serif;
	background-color:#9C0;
	width:100px;
	height:30px;
	border: none;
	border-radius:5px;

	box-shadow: 1.5px 1.5px #333;
	float:left;
}
.knapp1:hover{
  background-color: #2ecc71;
}
.knapp1:active {
  background-color: #2ecc71;
  box-shadow: 2px 2px #95a5a6;
  transform: translateY(2px);
}
.knapp2 {
	color:#000;
	font-family:Verdana, Geneva, sans-serif;
	background-color:#9C0;
	width:100px;
	height:30px;
	border: none;
	border-radius:5px;
	margin-left:20px;

	box-shadow: 1.5px 1.5px #333;
	float:left;
}
.knapp2:hover{
  background-color: #2ecc71;
}
.knapp2:active {
  background-color: #2ecc71;
  box-shadow: 2px 2px #95a5a6;
  transform: translateY(2px);
}
#oro {
	width:1%;
	height:100%;
	margin-left:99%;
	display:none;
}

/* SCROLLBARS */
.scrollbar
{
	margin-left: 10px;
	float: left;
	height:1257.1px;
	width: 96%;
	background: rgba(230,230,255,1);
	overflow-y: scroll;
	margin-bottom: 25px;
	overflow:auto;
	
	border-top-left-radius:30px;
	border-bottom-left-radius:30px;
}
#wrapper
{
	text-align: center;
	margin: auto;
}
#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}





/* DROPDOWNBUTTONS */
.dropbtn {
    background-color:#666;
    color:white;
    padding:16px;
    font-size:18px;
    border:none;
    cursor:pointer;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.dropdown {
    position: relative;
    display: inline-block;
	margin-left:18%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#FFF;
    min-width:160px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
}
.dropdown-content a:hover {
	background-color:#699;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color:#777;
}



/* Kopia */
.dropbtnA {
    background-color:#666;
    color:white;
    padding:16px;
    font-size:18px;
    border:none;
    cursor:pointer;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.dropdownA {
    position: relative;
    display: inline-block;
	margin-left:100px;
	display:none;
}
.dropdown-contentA {
    display: none;
    position: absolute;
    background-color:#FFF;
    min-width:160px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-left:100px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.dropdown-contentA a {
    color: black;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
}
.dropdown-contentA a:hover {
	background-color:#699;
}
.dropdownA:hover .dropdown-contentA {
    display: block;
}
.dropdownA:hover .dropbtnA {
    background-color:#777;
}

/*
//
//
//
//// Mobilanpassning:
//
//
//
*/

@media screen and (max-width: 980px) {

	#top {
		width:97%;
	}
	
	#close {
		margin-left:90%;
	}
	
	h1 {
		font-size:120%;
		margin-top:12.5px;
	}
	
	article {
		background-color:#CF3;
		height:1000px;
	}
	
	.scrollbar
	{
		height:1000px;
	}
	
	p {
		font-size:16px;
	}
	
	.faktaruta {
		font-size:18px;
	}
	
	.dropdown {
		display:none;
	}
	
	.dropdownA {
		display:inline;
		margin-left:50px;
	}
	
	.dropdown-contentA {
		margin-left:50px;
	}
	
}
@media screen and (max-width: 765px) {
	
	article {
		background-color:#3C0;
	}
	.knapp1, .knapp2 {
	width:90px;
	height:30px;
	font-size:10px;
	border-radius:5px;

	box-shadow: 1.5px 1.5px #333;
	}
}
@media screen and (max-width: 697px) {
	
	article {
		background-color:#00F;
	}
	.knapp1, .knapp2 {
	width:80px;
	height:30px;
	font-size:9px;
	border-radius:5px;

	box-shadow: 1.5px 1.5px #333;
	}
}
@media screen and (max-width: 650px) {
	
	#top {
		width:96%;
	}
	
	#close {
		margin-left:85%;
	}
	
	p {
		font-size:14px;
	}
	
	.faktaruta {
		font-size:14px;
	}
	
	h1 {
		font-size:100%;
		margin-top:12.5px;
	}
	
	article {
		background-color:#3FF;
		height:900px;
	}
	
	.scrollbar
	{
		height:900px;
	}
	
	.dropdownA {
		margin-left:25px;
	}
	
	.dropdown-contentA {
		margin-left:25px;
	}
}
@media screen and (max-width: 629px) {
	
	article {
		background-color:#90F;
	}
	.knapp1, .knapp2 {
	width:55px;
	height:30px;
	font-size:10px;
	border-radius:5px;

	box-shadow: 1.5px 1.5px #333;
	}
}
@media screen and (max-width: 500px) {
	
	article {
		background-color:#FCC;
	}
	#articleH {
		margin-top:40px;
	}
	#logo {
		display:none;
	}
}
@media screen and (max-width: 480px) {
	
	#top {
		width:100%;
		font-size:80%;
	}
	
	#close {
		margin-left:80%;
		margin-top:5%;
	}
	
	p {
		font-size:12px;
	}
	
	.faktaruta {
		font-size:11px;
	}
	
	h1 {
		font-size:90%;
		margin-top:12.5px;
	}
	
	html {
		-webkit-text-size-adjust:none;
	}
	
	article {
		background-color:rgba(255,255,255,1);
		height:1150px;
	}
	
	#articleV {
		height:575px;
		width:100%;
	}
	
	#articleH {
		height:500px;
		width:100%;
	}
	
	img{
		width:60%;
	}
	#headImg {
		width:100%;
	}
	
	.scrollbar {
		height:575px;
	}
	
	.dropdownA {
		margin-left:30px;
	}
	
	.dropdown-contentA {
		margin-left:30px;
	}
}
@media screen and (max-width: 391px) {
	
	article {
		background-color:#FF3;
	}
	h5 {
		font-size:11px;
		width:98px;;
	}
	.sub-main{
	  width: 50%;
	}
	.knapp1, .knapp2 {
	width:55px;
	height:30px;
	font-size:10px;
	border-radius:5px;

	box-shadow: 1.5px 1.5px #333;
	}
}
